body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.colortest {
  color: 'white';
  color: '#434449';
  color: '#f1f2f7';
  color: '#f1f1f4';
  color: '#e4e5e9';
  color: '#6f7077';
  color: '#3f51b5';
  color: '#364495';
  color: '#b7c1f8';
  color: '#ffc107';
  color: '#4caf50';
  color: '#ef5350';
  color: 'orange';
}
